body {
    background-color: #787878;
    background-image: url('img/stars.gif');
    overflow-y: hidden;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.divEmotion img {
    width: 395px;
    height: 200px;
}

form {
    display: flex;
    flex-direction: column;
}

.divForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
    letter-spacing: 3.4px;
    word-spacing: 0px;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
    text-align: center;
    margin: 4px;
    text-shadow: 2px 2px rgb(158, 34, 34);
    -webkit-text-stroke-width: 0.5px;
    /* largura da borda */
    -webkit-text-stroke-color: #000;
    /* cor da borda */
}

button {
    margin-top: 5px;
    width: 100%;
    height: 10%;
    background: #1C1C1C;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    line-height: 60px;
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(80%);
}